body {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

#submit {
  text-align: center;
}

#search {
  float: left;
  text-align: center;
  width: 150px;
  border: 1.5px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

#gallery {
  text-align: center;
  display: inline-flex;
  color: white;
}

#paginate {
 text-align: center;
}